<!DOCTYPE html>
<html>
<head>
<title>This the homepage</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/firebasejs/6.0.2/firebase-firestore.js"></script>
<script type="text/javascript">
	// Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBjqtIMpcWqEVA1SsI5lkDhDPQZHvdaKYM",
    authDomain: "forum-firebase-b3205.firebaseapp.com",
    databaseURL: "https://forum-firebase-b3205.firebaseio.com",
    projectId: "forum-firebase-b3205",
    storageBucket: "forum-firebase-b3205.appspot.com",
    messagingSenderId: "831909117594",
    appId: "1:831909117594:web:05602291ce42908b"
  };
	// Initialize Firebase
	  firebase.initializeApp(firebaseConfig);
</script>
<style type="text/css">
	.is-hidden{
		display: none;
	}
</style>
</head>
<body>
<div class="jumbotron">
	<h1 class="display-4">Hi, This the single forum. you can see any detail!</h1>
	<hr class="my-4">
	<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	<div id="login-wrapper">
		<button class="btn btn-danger" type="button" name="button" onclick="login('gmail')">Login Gmail</button>
	   <button class="btn btn-primary" type="button" name="button" onclick="login('fb')">Login FB</button>
	   <button class="btn btn-info" type="button" name="button" onclick="login('twitter')">Login Twitter</button>
	</div>
	<div id="logout-wrapper" class="is-hidden">
		<button class="btn btn-success" type="button" name="button" onclick="logout()">Log out</button>
	</div>
	<hr>
	<h2>Forum {{forum.title}}</h2>
	<p>{{forum.desc}} <span><i>by: <b>{{forum.user.username}}</b></i></span></p>
	<input type="hidden" name="owner_uid" id="owner_id" value="{{forum.user.user_id}}">
	<input type="hidden" name="forum_id" id="forum_id" value="{{forum.id}}">
	<a href="#" class="btn btn-info is-hidden" id="btn-edit" onclick="showEditForm()">Edit</a>
</div>
<div class="is-hidden" id="editForm">
	<div class="row">
		<div class="container">
			<form>
				<div class="form-group">
				    <label for="title">Title</label>
				    <input type="text" class="form-control" id="title" value="{{forum.title}}" placeholder="Your tittle">
				</div>
				<div class="form-group">
				    <label for="desc">Desciptions</label>
				    <textarea class="form-control" id="desc" rows="3">{{forum.desc}}</textarea>
				</div>
				<button class="btn btn-info" type="button" name="button" id="update-btn" onclick="updateForum('{{forum.id}}')">Update</button>
			</form>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="container" id="contain-comm">
		<h4>List comments</h4>
		{{#each replies}}
			{{data.desc}} by <b><i>{{data.user.name}}</i></b>
			<button type="button"class="btn btn-info replies-btn" owner-id="{{data.user.user_id}}" onclick="editComment('{{id}}','{{data.desc}}')">Edit</button><br>
		{{/each}}
	</div>
</div>
<br>
<div class="is-hidden" id="updateForum">
	<div class="row">
		<div class="container">
			<div class="form-group">
				<textarea class="form-control col-md-6" id="comment-desc" rows="3" placeholder="Your comment" style="margin-bottom:5px;"></textarea>
				<button type="button" class="btn btn-success" onclick="updateComment('{{id}}',{{data.desc}})">Update comment</button>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="container">
		<h4>Add comments</h4>
		<div class="form-group">
			<textarea class="form-control col-md-6" id="comment" rows="3" placeholder="Your comment" style="margin-bottom:5px;"></textarea>
			<button type="button" class="btn btn-success" onclick="addComment('{{forum.id}}')">Add comment</button>
		</div>
	</div>
</div>

<script type="text/javascript">
var auth = firebase.auth();
var db = firebase.firestore();

function showEditForm() {
	document.getElementById('editForm').classList.remove('is-hidden')
}


function updateForum(id) {
	db.collection('forums').doc(id).set({
		title : document.getElementById('title').value,
		desc : document.getElementById('desc').value,
		updated_at : new Date()
	}, {merge : true})
	.then(function(){
		location.reload()
	}).catch(function(err){
		console.log(err)
	})
}

function addComment(forumId) {
	var newComment = document.getElementById('comment').value
	var forumsRef = db.collection('forums').doc(forumId)

	forumsRef.collection('replies').add({
		desc : newComment.replace("<br />", "\n"),
		created_at : new Date(),
		updated_at : new Date(),
		user: {
			user_id : currentUser.uid,
			name : currentUser.displayName
		}
	}).then(function(docRef){
		alert("Comments have been added successfully")
		window.location = window.location.href + '/' + slug
	}).catch(function(error){
		console.log(error)
	})
}

var activeReplyId = '';
function editComment(replyId, prevDes) {
	activeReplyId = replyId;
	document.getElementById('comment-desc').value = prevDes;
	document.getElementById('updateForum').classList.remove('is-hidden');

}

function updateComment() {
	var forumId = document.getElementById('forum_id').value;
	var newComment = document.getElementById('comment-desc').value;

	var dbRef = db.collection('forums').doc(forumId).collection('replies').doc(activeReplyId);

	dbRef.set({
		desc: newComment.replace("<br />","\n"),
		updated_at: new Date()
	},{merge:true})
	.then(function(res){
		location.reload()
	}).catch(function(err){
		console.log(err)
	})
}
</script>
<style type="text/css">
	.is-hidden {
		display: none;
	}
</style>
</html>